
body {
    background-color: #313131;
}

/*#band1 {
    background-color: red;
}
#band2 {
    background-color: blue;
}
#band3 {
    background-color: green;
}
*/
.band {
    display: inline-block;
    width: 33%;
    height: 100vh;
}


.band_controls {
    display: inline-block;
    width: 33%;
}