
body {
    background-color: #313131;
}

.band {
    width: 100%;
    height: 33vh;
}


#admin {
    position: absolute;
    z-index: 10000;
    right: 0;
    top: 0;
    background: black;
    padding: 10px;
}
.band_controls {
    height: 33vh;
    width: 300px;
}
.color_controls {
    padding-bottom: 10px;
}




.pulse_forever {
  animation: pulse 0.8s infinite;
}
.pulse_once {
    animation: pulse 0.8s normal;
}

@keyframes pulse {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}